<h1>QUOTES, YO.</h1>
<br>
<h3>
<% if @current_subs.count == 0 %>
<%= link_to "Subscribe!", new_subscription_path(:user_id => current_user.id, :theme_id => @theme.id, data: { confirm: 'Are you sure you want to subscribe?' } )%>
<% else %>
<%= button_to "UnSubscribe!", subscription_path(:user_id => current_user.id, :theme_id => @theme.id), :method => :delete, data: { confirm: 'Are you sure you want to unsubscribe?' } %>
<% end %>
</h3>
<br>
<% @theme.inspirations.each do |i| %>
	<%= i.quote %>
	<br>
<% end %>
<br>
<%= link_to "Back to Main", root_path %>