<% if current_user %>
	<%= link_to "Update Info", "/users/update" %>
	<h1>Themes, Yo.</h1>
	<% @themes.each do |t| %>
	<%= link_to t.name, t %>
	<br>
<% end %>
<% else %>
	<h1>Welcome to FUTW</h1>
<% end %>