<% if current_user %>
	<% if flash[:info] %>
    <div class='alert alert-info'><%= flash[:info] %></div>
  	<% end %>
  <div id="quote">
  "Success is not final, failure is not fatal, it is the courage to continue that counts."
  </div>
  <div id="themess">
	<ul class="themes">
	<% @themes.each do |t| %>
	<%= link_to t.name, t %>
	<% end %>
	</ul>
	</div>
	<br>
	<!-- <h2>Rando Quotes From mah Subcriptions</h2>
	<% @user_themes_array.each do |user_theme| %>
		<small><%= user_theme.name %></small><p>
		<h3><%= user_theme.inspirations.shuffle.first.quote %></h3>
		<br>	
	<% end %> -->
<% else %>
	<h1>Welcome to FUTW</h1>
<% end %>